# Weekly Assignment

# Data Analysis Problem on Data Wrangling and Exploring

# 1. Import the necessary libraries

In [3]:
import pandas as pd

# 2. Import the dataset from this address.

In [8]:
address=("https://raw.githubusercontent.com/svkarthik86/Advance-Python-Numpy/main/olympics_dirty.csv")

# 3. Assign it to a variable called odata.

In [9]:
odata=pd.read_csv(address,skiprows=4)

# 4. show the first 5 entries

In [11]:
odata.head(5)

,Available_City,Edition_year,Sport_name,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,NaN
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",NaN,Men,100m freestyle for sailors,M,Silver

# 5. What is the number of observations in the dataset?

In [12]:
len(odata)

29216

# 6. What is the number of columns in the dataset?

In [13]:
len(odata.columns)

10

# 7. Print the name of all the columns.

In [16]:
odata.columns

Index(['Available_City', 'Edition_year', 'Sport_name', 'Discipline', 'Athlete',
       'NOC', 'Gender', 'Event', 'Event_gender', 'Medal'],
      dtype='object')

# 8. How is the dataset indexed?

In [17]:
odata.index

RangeIndex(start=0, stop=29216, step=1)

# 9. Rename the column as Available_City to City, Edition_year to Edition , Sport_name to Sport

In [22]:
odata.rename(columns={'Available_City':'City','Edition_year':'Edition','Sport_name':'Sport'},inplace=True)
odata

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,NaN
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",NaN,Men,100m freestyle for sailors,M,Silver
...,...,...,...,...,...,...,...,...,...,...
29211,Beijing,2008,Wrestling,Wrestling Gre-R,"ENGLICH, Mirko",GER,Men,84 - 96kg,M,Silver
29212,Beijing,2008,Wrestling,Wrestling Gre-R,"MIZGAITIS, Mindaugas",LTU,Men,96 - 120kg,M,Bronze
29213,Beijing,2008,Wrestling,Wrestling Gre-R,"PATRIKEEV, Yuri",ARM,Men,96 - 120kg,M,Bronze
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold
29215,Beijing,2008,Wrestling,Wrestling Gre-R,"BAROEV, Khasan",RUS,Men,96 - 120kg,M,Silver

# 10. How many Athletes own the Gold medal?

In [25]:
len(odata[odata.Medal=='Gold'])

9849

# 11. Display the male gold medal winners for the 100m Track?

In [44]:
odata[(odata.Event=='100m')&(odata.Medal=='Gold')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
231,Paris,1900,Athletics,Athletics,"JARVIS, Francis",USA,Men,100m,M,Gold
737,St Louis,1904,Athletics,Athletics,"HAHN, Archie",USA,Men,100m,M,Gold
1191,London,1908,Athletics,Athletics,"WALKER, Reginald",RSA,Men,100m,M,Gold
2022,Stockholm,1912,Athletics,Athletics,"CRAIG, Ralph",USA,Men,100m,M,Gold
2996,Antwerp,1920,Athletics,Athletics,"PADDOCK, Charles",USA,Men,100m,M,Gold
4236,Paris,1924,Athletics,Athletics,"ABRAHAMS, Harold",GBR,Men,100m,M,Gold
5095,Amsterdam,1928,Athletics,Athletics,"WILLIAMS, Percy",CAN,Men,100m,M,Gold
5098,Amsterdam,1928,Athletics,Athletics,"ROBINSON, Elizabeth",USA,Women,100m,W,Gold
5806,Los Angeles,1932,Athletics,Athletics,"TOLAN, Eddie",USA,Men,100m,M,Gold
5809,Los Angeles,1932,Athletics,Athletics,"WALASIEWICZ, Stanislawa",POL,Women,100m,W,Gold
6427,Berlin,1936,Athletics,Athletics,"OWENS, Jesse",USA,Men,100m,M,Gold
6430,Berlin,1936,Athletics,Athletics,"STEPHENS, Helen Herring",USA,Women,100m,W,Gold
7302,London,1948,Athletics,Athletics,"DILLARD, Harrison",USA,Men,100m,M,Gold
7305,London,1948,Athletics,Athletics,"BLANKERS-KOEN, Fanny",NED,Women,100m,W,Gold
8121,Helsinki,1952,Athletics,Athletics,"REMIGINO, Lindy",USA,Men,100m,M,Gold
8124,Helsinki,1952,Athletics,Athletics,"JACKSON, Marjorie",AUS,Women,100m,W,Gold
9009,Melbourne / Stockholm,1956,Athletics,Athletics,"MORROW, Robert Joseph",USA,Men,100m,M,Gold
9012,Melbourne / Stockholm,1956,Athletics,Athletics,"CUTHBERT, Betty",AUS,Women,100m,W,Gold
9924,Rome,1960,Athletics,Athletics,"HARY, Armin",EUA,Men,100m,M,Gold
9927,Rome,1960,Athletics,Athletics,"RUDOLPH, Wilma",USA,Women,100m,W,Gold
10823,Tokyo,1964,Athletics,Athletics,"HAYES, Robert",USA,Men,100m,M,Gold
10826,Tokyo,1964,Athletics,Athletics,"TYUS, Wyomia",USA,Women,100m,W,Gold
11865,Mexico,1968,Athletics,Athletics,"HINES, James Ray",USA,Men,100m,M,Gold
11868,Mexico,1968,Athletics,Athletics,"TYUS, Wyomia",USA,Women,100m,W,Gold
12902,Munich,1972,Athletics,Athletics,"BORZOV, Valery",URS,Men,100m,M,Gold
12905,Munich,1972,Athletics,Athletics,"STECHER, Renate",GDR,Women,100m,W,Gold
14069,Montreal,1976,Athletics,Athletics,"CRAWFORD, Hasely",TRI,Men,100m,M,Gold
14072,Montreal,1976,Athletics,Athletics,"RICHTER-IRRGANG, Annegret",FRG,Women,100m,W,Gold
15374,Moscow,1980,Athletics,Athletics,"WELLS, Allan",GBR,Men,100m,M,Gold
15377,Moscow,1980,Athletics,Athletics,"KONDRATIEVA, Liudmila",URS,Women,100m,W,Gold
16794,Los Angeles,1984,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
16797,Los Angeles,1984,Athletics,Athletics,"ASHFORD, Evelyn",USA,Women,100m,W,Gold
18284,Seoul,1988,Athletics,Athletics,"LEWIS, Carl",USA,Men,100m,M,Gold
18287,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,100m,W,Gold
19859,Barcelona,1992,Athletics,Athletics,"CHRISTIE, Linford",GBR,Men,100m,M,Gold
19862,Barcelona,1992,Athletics,Athletics,"DEVERS, Gail",USA,Women,100m,W,Gold
21598,Atlanta,1996,Athletics,Athletics,"BAILEY, Donovan",CAN,Men,100m,M,Gold
21601,Atlanta,1996,Athletics,Athletics,"DEVERS, Gail",USA,Women,100m,W,Gold
23521,Sydney,2000,Athletics,Athletics,"GREENE, Maurice",USA,Men,100m,M,Gold
25539,Athens,2004,Athletics,Athletics,"GATLIN, Justin",USA,Men,100m,M,Gold
25542,Athens,2004,Athletics,Athletics,"NESTERENKO, Yuliya",BLR,Women,100m,W,Gold
27552,Beijing,2008,Athletics,Athletics,"BOLT, Usain",JAM,Men,100m,M,Gold
27554,Beijing,2008,Athletics,Athletics,"FRASER, Shelly-ann",JAM,Women,100m,W,Gold

# 12.Which three countries have won the most medals in recent years (from 1984 to 2008)?

In [50]:
odata[(odata.Edition>=1984)&(odata.Edition<=2008)]['NOC'].value_counts().head(3)

USA    1837
AUS     762
GER     691
Name: NOC, dtype: int64

# 14. Display the women gold medal winners for the 100m Track?

In [51]:
odata[(odata.Gender=='Women')&(odata.Medal=='Gold')&(odata.Event=='100m')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
5098,Amsterdam,1928,Athletics,Athletics,"ROBINSON, Elizabeth",USA,Women,100m,W,Gold
5809,Los Angeles,1932,Athletics,Athletics,"WALASIEWICZ, Stanislawa",POL,Women,100m,W,Gold
6430,Berlin,1936,Athletics,Athletics,"STEPHENS, Helen Herring",USA,Women,100m,W,Gold
7305,London,1948,Athletics,Athletics,"BLANKERS-KOEN, Fanny",NED,Women,100m,W,Gold
8124,Helsinki,1952,Athletics,Athletics,"JACKSON, Marjorie",AUS,Women,100m,W,Gold
9012,Melbourne / Stockholm,1956,Athletics,Athletics,"CUTHBERT, Betty",AUS,Women,100m,W,Gold
9927,Rome,1960,Athletics,Athletics,"RUDOLPH, Wilma",USA,Women,100m,W,Gold
10826,Tokyo,1964,Athletics,Athletics,"TYUS, Wyomia",USA,Women,100m,W,Gold
11868,Mexico,1968,Athletics,Athletics,"TYUS, Wyomia",USA,Women,100m,W,Gold
12905,Munich,1972,Athletics,Athletics,"STECHER, Renate",GDR,Women,100m,W,Gold
14072,Montreal,1976,Athletics,Athletics,"RICHTER-IRRGANG, Annegret",FRG,Women,100m,W,Gold
15377,Moscow,1980,Athletics,Athletics,"KONDRATIEVA, Liudmila",URS,Women,100m,W,Gold
16797,Los Angeles,1984,Athletics,Athletics,"ASHFORD, Evelyn",USA,Women,100m,W,Gold
18287,Seoul,1988,Athletics,Athletics,"GRIFFITH-JOYNER, Florence",USA,Women,100m,W,Gold
19862,Barcelona,1992,Athletics,Athletics,"DEVERS, Gail",USA,Women,100m,W,Gold
21601,Atlanta,1996,Athletics,Athletics,"DEVERS, Gail",USA,Women,100m,W,Gold
25542,Athens,2004,Athletics,Athletics,"NESTERENKO, Yuliya",BLR,Women,100m,W,Gold
27554,Beijing,2008,Athletics,Athletics,"FRASER, Shelly-ann",JAM,Women,100m,W,Gold

# 15.list out the Sliver medal winner @ year 2008?

In [76]:
silver_2008_winner=odata[(odata.Medal=='Silver')&(odata.Edition==2008)]['Athlete']
silver_2008_winner

27176            ZHOU, Luxin
27179        HEYMANS, Emilie
27182    DESPATIE, Alexandre
27185       PAKHALINA, Julia
27190      HAUSDING, Patrick
                ...
29200     BEGALIEV, Kanatbek
29204       CHANG, Yongxiang
29207          FODOR, Zoltan
29211         ENGLICH, Mirko
29215         BAROEV, Khasan
Name: Athlete, Length: 663, dtype: object

# 16.Group by Countries and apply aggregate function min,max,count on over the year

In [84]:
odata.groupby('NOC')['Edition'].agg([min,max,'count'])

      min   max  count
NOC
AFG  2008  2008      1
AHO  1988  1988      1
ALG  1984  2008     14
ANZ  1908  1912     29
ARG  1924  2008    239
..    ...   ...    ...
VIE  2000  2008      2
YUG  1924  2000    435
ZAM  1984  1996      2
ZIM  1980  2008     23
ZZX  1896  1904     48

[138 rows x 3 columns]

In [82]:
odata.groupby('NOC')['Edition'].describe()

     count         mean        std     min     25%     50%     75%     max
NOC
AFG    1.0  2008.000000        NaN  2008.0  2008.0  2008.0  2008.0  2008.0
AHO    1.0  1988.000000        NaN  1988.0  1988.0  1988.0  1988.0  1988.0
ALG   14.0  1996.857143   7.220240  1984.0  1993.0  1998.0  2000.0  2008.0
ANZ   29.0  1909.379310   1.934901  1908.0  1908.0  1908.0  1912.0  1912.0
ARG  239.0  1978.828452  32.594785  1924.0  1948.0  1996.0  2004.0  2008.0
..     ...          ...        ...     ...     ...     ...     ...     ...
VIE    2.0  2004.000000   5.656854  2000.0  2002.0  2004.0  2006.0  2008.0
YUG  435.0  1975.687356  16.611963  1924.0  1964.0  1980.0  1988.0  2000.0
ZAM    2.0  1990.000000   8.485281  1984.0  1987.0  1990.0  1993.0  1996.0
ZIM   23.0  1988.000000  12.416997  1980.0  1980.0  1980.0  2004.0  2008.0
ZZX   48.0  1900.166667   2.176600  1896.0  1900.0  1900.0  1900.0  1904.0

[138 rows x 8 columns]